{
  "printWidth": 140,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "singleAttributePerLine": true
}
